[user]
  user = ulken
  name = Oskar Löfgren
  email = islander.abroad@gmail.com
[credential]
  helper = osxkeychain
[core]
  autocrlf = input
  excludesfile = ~/.gitignore
[push]
  default = current
[pull]
  rebase = true
[init]
  defaultBranch = main
[include]
  path = ~/.gitconfig_work
[alias]
	rmb = ! git branch -d $(git branch --merged | grep -Ev \"(\\*|master|main|develop)\")
