[user]
  user = ulken
  name = Oskar Löfgren
  email = islander.abroad@gmail.com
[credential]
  helper = osxkeychain
[core]
  autocrlf = input
  excludesfile = ~/.gitignore
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  syntax-theme = base16
  line-numbers = true
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[push]
  default = current
[pull]
  rebase = true
[init]
  defaultBranch = main
[include]
  path = ~/.gitconfig_work
[alias]
	rmb = ! git branch -vv | grep -v origin/ | xargs -n 1 git branch -d
	rpo = remote prune origin
