[user]
  name = Oskar Löfgren
  email = 516549+ulken@users.noreply.github.com
[credential]
  helper = osxkeychain
[core]
  autocrlf = input
  excludesfile = ~/.gitignore
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  syntax-theme = base16
  line-numbers = true
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[push]
  default = current
  autoSetupRemote = true
[pull]
  rebase = true
[init]
  defaultBranch = main
[includeIf "gitdir:~/dev/work/"]
  path = ~/.gitconfig_work
[credential "https://github.com"]
  helper = 
  helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = 
  helper = !/opt/homebrew/bin/gh auth git-credential
